body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  font-size: 20px
}

.card {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px
}

.container {
  display: flex
}